.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
}

.snow-container {
  height: 100%;
  width: 100%;
}

.snow {
  position: absolute;
  top: 0;
  width: 5px;
  height: 5px;
  flex-grow: 0;
  background-color: #fff;
  border-radius: 50%;
  animation: snow-fall linear infinite;
  transform-box: content-box;
}

@keyframes snow-fall {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100vh);
  }
}
